<h3>Crear usuario</h3>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cc">CC</label>
            <input [(ngModel)]="conductor.numero_cedula" type="text" class="form-control" id="numero_cedula"
                placeholder="Ingrese Numero CC" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="primer_nombre">Primer Nombre</label>
            <input [(ngModel)]="conductor.primer_nombre" type="text" class="form-control" id="primer_nombre"
                placeholder="Ingrese primer nombre" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="segindo_nombre">Segundo Nombre</label>
            <input [(ngModel)]="conductor.segundo_nombre" type="text" class="form-control" id="segundo_nombre"
                placeholder="Ingrese Segundo Nombre" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input [(ngModel)]="conductor.apellidos" type="text" class="form-control" id="apellidos"
                placeholder="Ingrese Apellidos" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="email">Ciudad</label>
            <input [(ngModel)]="conductor.ciudad" type="ciudad" class="form-control" id="ciudad"
                placeholder="Ingrese ciudad" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input [(ngModel)]="conductor.telefono" type="number" class="form-control" id="telefono"
                placeholder="Ingrese Telefono" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input [(ngModel)]="conductor.direccion" type="text" class="form-control" id="direccion"
                placeholder="Ingrese Direccion" required>
        </div>
    </div>
</div>
<div class="d-flex">
    <button (click)="saveConductor()" class="btn btn-primary">Guardar</button>
</div>
<br/>
<div class="content">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Ciudad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conductor of conductors">
                <td>{{conductor.id}}</td>
                <th>{{conductor.primer_nombre}}</th>
                <td>{{conductor.apellidos}}</td>
                <td>{{conductor.direccion}}</td>
                <td>{{conductor.telefono}}</td>
                <td>{{conductor.ciudad}}</td>
                <td>
                    <a class="btn btn-primary btn-sm btn-danger" (click)="delete(conductor.id)"
                        routerLink="/home">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>