
<div class="form-row">
  <div class="form-group col-md-4">
    <label for="placa">Placa</label>
    <input [(ngModel)]="vehiculo.placa" id="placa" type="text" class="form-control" id="color" placeholder="Placa vehiculo">
  </div>
  <div class="form-group col-md-4">
    <label for="color">Color</label>
    <input [(ngModel)]="vehiculo.color" id="color" type="text" class="form-control" id="color" placeholder="Color vehiculo">
  </div>
  <div class="form-group col-md-4">
    <label for="marca">Marca</label>
    <input [(ngModel)]="vehiculo.marca" id="marca" type="text" class="form-control" id="marca" placeholder="Marca vehiculo">
  </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="tipo_vehiculo">Tipo Vehiculo</label>
        <select [(ngModel)]="vehiculo.tipo_vehiculo" id="tipo_vehiculo" class="form-control">
          <option >Particular</option>
          <option>Publico</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="conductor_id">Conductor</label>
        <select [(ngModel)]="vehiculo.conductor_id" id="conductor_id" class="form-control">
          <option *ngFor="let conductor of conductors" value="{{ conductor.id }}"> {{conductor.primer_nombre}} </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="propietario_id">Propietario</label>
        <select [(ngModel)]="vehiculo.propietario_id" id="propietario_id" class="form-control">
          <option *ngFor="let persona of personas" value="{{persona.id}}"> {{persona.primer_nombre}} </option>
        </select>
      </div>
  </div>
  <button (click)="saveVehiculo()" class="btn btn-primary">Guardar</button>
