<table class="table">
  <thead class="thead-dark">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca</th>
          <th scope="col">Color</th>
          <th scope="col">Tipo</th>
          <th scope="col">Conductor</th>
          <th scope="col">Propietario</th>
          <th scope="col"></th>
      </tr>
  </thead> 
  <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
          <td>{{vehiculo.id}}</td>
          <th>{{vehiculo.placa}}</th>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.color}}</td>
          <td>{{vehiculo.tipo_vehiculo}}</td>
          <td>{{vehiculo.conductor}}</td>
          <td>{{vehiculo.propietario}}</td>
          <td>
              <a class="btn btn-primary btn-sm btn-danger" (click)="delete(vehiculo.id)" routerLink="/home">Eliminar</a>
          </td>
      </tr>
  </tbody>
</table>

